# Copy to .env and adjust values

COMPOSE_PROJECT_NAME=chinookanalytics

POSTGRES_DB=chinook
POSTGRES_USER=chinook
POSTGRES_PASSWORD=change_me
POSTGRES_PORT=5432

POSTGRES_CONTAINER_NAME=chinookanalytics-db

PGDATA_DIR=./.pgdata
